<% form_for @holiday do |f| -%>
 <%= f.error_messages %>
    <p> <%= f.label :"Date Leaving (YYYY/MM/DD)" %><br />
        <%= f.text_field :dateleaving %>
    </p>
 <p> <%= f.label :"Date Returning (YYYY/MM/DD)" %><br />
        <%= f.text_field :datereturning %>
    </p>
<% if current_user.admin == true %>
<p> <%= f.label :"Approved?" %><br />
        <%= f.check_box :approved %>
    </p>
<p> <%= f.label :"Declined?" %><br />
        <%= f.check_box :declined %>
    </p>
<p> <%= f.label :"Comments" %><br />
        <%= f.text_area :comments %>
<% end %>
    <p> <%= f.submit 'Save' %></p>
  <% end %>
